* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    margin: 20px 40px
}

form {
    display: grid;
    grid-template-columns: 90% auto;
    margin-bottom: 0.8rem;
}

img {
    width: 100%;
}

.galery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.image-container {
    position: relative;
}

.btn-delete {
    position: absolute;
    right: 1%;
    top:1%;
    color: white;
    background-color: red;
    padding: 0.3rem;
}


.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 700px) {
    .galery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
  }